#body {
  display: grid;
  grid-template-columns: 15% 5% 60% 20%;
  margin: auto;
}

#sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  width: 100%;
  height: 300px;
  background: #020b1d;
  li {
    color: white;
    list-style-type: none;
    padding: 15px;
    border-bottom: 2px solid black;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
.main {
  grid-column: 3;
  .sortbar {
    width: 100%;
    background: #020b1d;
    color: white;
    height: 40px;
    font-size: 20px;

    div {
      margin-left: 30%;
      select {
        color: white;
        border: solid white 1px;
        background: #020b1d;
        width: 20%;
        margin: 10px;
      }
    }
  }
  .book {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px black;
    height: 150px;
    list-style-type: none;
    font-size: 20px;
    word-wrap: break-word;
    a {
      position: relative;
      top: 10px;
    }
    .photo {
      position: relative;
      left: 600px;
      bottom: 110px;
      height: 150px;
      width: 100px;
    }
  }
}
.bookDetails {
  grid-column: 3;
  li {
    list-style-type: none;
    font-size: 20px;
    padding-bottom: 10px;
    width: 450px;
  }
  .rating {
    height: 100%;
    input {
      display: none;
    }
  }
  .bookCover {
    height: 0px;
    img {
      position: relative;
      left: 60%;

      height: 450px;
      width: 300px;
    }
  }
  button {
    background-color: #fc0000;
    color: white;
    padding: 14px 20px;
    margin: 0px 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  a {
    background-color: #4caf50;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
.addBook {
  grid-column: 3;
  font-size: 20px;

  form {
    padding-bottom: 10px;
    input,
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    button {
      width: 100%;
      background-color: #4caf50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  .error {
    color: red;
    text-align: center;
  }
}

.bookMark {
  grid-column: 3;
  font-size: 20px;
  list-style-type: none;
  button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

.mainPhoto {
  position: relative;
  width: 100%;
}
h2 {
  text-align: center;
  font-size: 30px;
}

@media only screen and (max-width: 1075px) {
  #body {
    display: grid;
    grid-template-columns: 20% 10% 70%;
    margin: auto;
  }
  #sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    width: 80px;
    height: 300px;
    background: #020b1d;
    font-size: 12px;
  }
  .main {
    .sortbar {
      div {
        margin-left: 10px;
        font-size: 8px;
      }
    }
    .book {
      margin-top: 15px;
      padding-bottom: 15px;
      border-bottom: solid 1px black;
      height: 80px;
      list-style-type: none;
      font-size: 10px;
      word-wrap: break-word;
      .photo {
        position: relative;
        left: 150px;
        bottom: 60px;
        height: 75px;
        width: 50px;
      }
    }
    a {
      position: relative;
      top: 10px;
    }
    
  }

  .bookDetails {
    li {
      list-style-type: none;
      font-size: 10px;
      padding-bottom: 10px;
      width: 200px;
    }
    button {
      background-color: #fc0000;
      color: white;
      padding: 10px 4px;
      margin: 0px 6px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    .bookCover {
      height: 320px;
      img {
        position: relative;
        left: 0px;
        height: 300px;
        width: 200px;
      }
    }
  }

  .addBook{
    font-size: 14px;
  }
}

